*{
  font-family: 'Poppins', sans-serif;
}
:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}
.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  background-color: #FFF;
  color: #555;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: #04AA6D;
  color: white;
}
.list-group-item:hover:not(.list-group-item.active){
  background-color: #555;
  color: white;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
    .topnav input[type=text] {
      padding: 10px;
      margin-top: 55px;
      margin-right: 150px;
      border: none;
      font-size: 17px;
    }
    .col-md-3{
      flex: 0 auto;
      width: 100%;
    }
    button, input, optgroup, select, textarea{
      margin-bottom: 12px;
    }

    .pagination{
      justify-content: center;
      padding-bottom: 100px;
      margin-top: -25px;
  }
  .pagination li a {
      border: none;
      font-size: 13px;
      min-width: 30px;
      min-height: 30px;
      color: #999;
      margin: 0 2px;
      line-height: 30px;
      border-radius: 2px !important;
      text-align: center;
      padding: 0 15px;
  }
  .pagination li a:hover {
      color: #666;
  }
  .pagination li.active a, .pagination li.active a.page-link {
      background: #03A9F4;
  }
  .pagination li.active a:hover {
      background: #0397d6;
  }
  .pagination li.disabled i {
      color: #ccc;
  }
  .pagination li i {
      font-size: 16px;
  }
div.col-md-3{
box-shadow: #555;
}
  
